# Each keep line has 4 values, separated by commas, values can be 0 or 1 (as switches off/on).
# This is the order: keep one backup by year, one by each month of current year, one by each week of current month, one by each day of current week
# You need to set each variable. If you want to skip one, simple define it as empty.

[/path/to/folder/with/backups]
date_format=%Y%m%d
extension=.tar.gz
keep=1,1,1,1
keep_full=0,0,0,1
keep_diff=0,0,0,1
keep_incr=0,0,1,0

[/other/folder/with/backups]
format=%Y%m%d
extension=.tar.gz
keep=
keep_full=0,0,0,1
keep_diff=
keep_incr=

[/other/folder/with/more/backups]
date_format=%Y-%m-%d
extension=.sql.gz
keep=
keep_full=0,0,0,1
keep_diff=
keep_incr=0,0,1,0


